.embla {
  max-width: 100vw;
  margin: auto;
  --slide-height: 90vh;
  --slide-spacing: 1rem;
  --slide-size: 20%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
}
.embla__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}
